//Custom variables

// Descriptive color variables
$white: #fff;
$black: #000;
$green: #7dc14c;
$lightgreen: #91ca67;
$blue: #40c2ce;
$darkGrey: #6a7070;
$kindOfDarkGrey: #6a666a;
$lightgrey: #d8dddb;

// Functional color variables

// Font stacks

// Asset paths
$path-image   :   '../img';
$path-fonts     :  '../fonts';
